[user]
	name = malleroid
	email = 38337195+malleroid@users.noreply.github.com

[core]
	pager = delta
	editor = nvim
	excludesfile = ~/.gitignore

[commit]
	template = ~/.commit_template

[interactive]
  diffFilter = delta --color-only

[delta]
	line-numbers = true
	side-by-side = true
	navigate = true
	light = false
	syntax-theme = Dracula

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
