#!/bin/bash
{{ if .is_ephemeral -}}
exit 0
{{ end -}}

# flake hash: {{ include "flake.nix" | sha256sum }}{{ include "flake.lock" | sha256sum }}

if ! command -v nix >/dev/null 2>&1; then
  echo "Nix not installed, skipping"
  exit 0
fi

echo "Updating dotfiles flake bundle..."
nix profile remove dotfiles 2>/dev/null || true
nix profile add "path:{{ .chezmoi.sourceDir }}"
